{
  "log": {
    "_recordingName": "routes/fileinfo",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "1.4.2"
    },
    "entries": [
      {
        "_id": "d94bad0ae20346ca118686c0e4c8d595",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "GET",
          "postData": {
            "mimeType": "application/json; charset=utf-8"
          },
          "queryString": [
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "iiprop",
              "value": "url|extmetadata|mediatype"
            },
            {
              "name": "iilimit",
              "value": "1"
            },
            {
              "name": "iiurlheight",
              "value": "300"
            },
            {
              "name": "titles",
              "value": "File:Apple_Lisa2-IMG_1517.jpg"
            },
            {
              "name": "prop",
              "value": "imageinfo"
            }
          ],
          "url": "https://commons.wikimedia.org/w/api.php?action=query&format=json&iiprop=url%7Cextmetadata%7Cmediatype&iilimit=1&iiurlheight=300&titles=File%3AApple_Lisa2-IMG_1517.jpg&prop=imageinfo"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 3038,
            "text": "{\"batchcomplete\":\"\",\"query\":{\"normalized\":[{\"from\":\"File:Apple_Lisa2-IMG_1517.jpg\",\"to\":\"File:Apple Lisa2-IMG 1517.jpg\"}],\"pages\":{\"17540984\":{\"pageid\":17540984,\"ns\":6,\"title\":\"File:Apple Lisa2-IMG 1517.jpg\",\"imagerepository\":\"local\",\"imageinfo\":[{\"thumburl\":\"https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Apple_Lisa2-IMG_1517.jpg/300px-Apple_Lisa2-IMG_1517.jpg\",\"thumbwidth\":300,\"thumbheight\":300,\"url\":\"https://upload.wikimedia.org/wikipedia/commons/b/bc/Apple_Lisa2-IMG_1517.jpg\",\"descriptionurl\":\"https://commons.wikimedia.org/wiki/File:Apple_Lisa2-IMG_1517.jpg\",\"descriptionshorturl\":\"https://commons.wikimedia.org/w/index.php?curid=17540984\",\"extmetadata\":{\"DateTime\":{\"value\":\"2011-12-01 14:17:15\",\"source\":\"mediawiki-metadata\",\"hidden\":\"\"},\"ObjectName\":{\"value\":\"Apple Lisa2-IMG 1517\",\"source\":\"mediawiki-metadata\",\"hidden\":\"\"},\"CommonsMetadataExtension\":{\"value\":1.2,\"source\":\"extension\",\"hidden\":\"\"},\"Categories\":{\"value\":\"All media supported by Wikimedia CH|Apple Lisa|CeCILL|Mus\\u00e9e Bolo|Self-published work|Supported by Wikimedia CH\",\"source\":\"commons-categories\",\"hidden\":\"\"},\"Assessments\":{\"value\":\"\",\"source\":\"commons-categories\",\"hidden\":\"\"},\"ImageDescription\":{\"value\":\"The making of this document was supported by <b><a href=\\\"https://meta.wikimedia.org/wiki/Wikimedia_CH\\\" class=\\\"extiw\\\" title=\\\"m:Wikimedia CH\\\">Wikimedia CH</a></b>. <b><small>(<a rel=\\\"nofollow\\\" class=\\\"external text\\\" href=\\\"https://www.wikimedia.ch/\\\">Submit your project!</a>)</small></b><br>\\nFor all the files concerned, please see the category <a href=\\\"//commons.wikimedia.org/wiki/Category:Supported_by_Wikimedia_CH\\\" title=\\\"Category:Supported by Wikimedia CH\\\">Supported by Wikimedia CH</a>.\",\"source\":\"commons-desc-page\"},\"DateTimeOriginal\":{\"value\":\"\",\"source\":\"commons-desc-page\"},\"Credit\":{\"value\":\"<span class=\\\"int-own-work\\\" lang=\\\"en\\\">Own work</span>\",\"source\":\"commons-desc-page\",\"hidden\":\"\"},\"Artist\":{\"value\":\"<a href=\\\"//commons.wikimedia.org/wiki/User:Rama\\\" title=\\\"User:Rama\\\">Rama</a> &amp; Mus\\u00e9e Bolo\",\"source\":\"commons-desc-page\"},\"Permission\":{\"value\":\"<i>You may select the license of your choice.</i>\",\"source\":\"commons-desc-page\",\"hidden\":\"\"},\"LicenseShortName\":{\"value\":\"CC BY-SA 2.0 fr\",\"source\":\"commons-desc-page\",\"hidden\":\"\"},\"UsageTerms\":{\"value\":\"Creative Commons Attribution-Share Alike 2.0 fr\",\"source\":\"commons-desc-page\",\"hidden\":\"\"},\"AttributionRequired\":{\"value\":\"true\",\"source\":\"commons-desc-page\",\"hidden\":\"\"},\"Attribution\":{\"value\":\"Photograph by <a href=\\\"//commons.wikimedia.org/wiki/User:Rama\\\" title=\\\"User:Rama\\\">Rama</a>, Wikimedia Commons, Cc-by-sa-2.0-fr\",\"source\":\"commons-desc-page\",\"hidden\":\"\"},\"LicenseUrl\":{\"value\":\"https://creativecommons.org/licenses/by-sa/2.0/fr/deed.en\",\"source\":\"commons-desc-page\",\"hidden\":\"\"},\"Copyrighted\":{\"value\":\"True\",\"source\":\"commons-desc-page\",\"hidden\":\"\"},\"Restrictions\":{\"value\":\"\",\"source\":\"commons-desc-page\",\"hidden\":\"\"},\"License\":{\"value\":\"cc-by-sa-2.0-fr\",\"source\":\"commons-templates\",\"hidden\":\"\"}},\"mediatype\":\"BITMAP\"}]}}}}"
          },
            {
              "domain": ".wikimedia.org",
              "name": "GeoIP",
              "path": "/",
              "secure": true,
              "value": "DE:BE:Berlin:52.51:13.36:v4"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "content-disposition",
              "value": "inline; filename=api-result.json"
            },
            {
              "name": "backend-timing",
              "value": "D=53143 t=1548162580508342"
            },
            {
              "name": "x-analytics",
              "value": "ns=-1;special=Badtitle;https=1;nocookies=1"
            },
            {
              "name": "x-client-ip",
              "value": "178.19.219.12"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 222,
      },
      {
        "_id": "88c25eeea2c0b3270f0e21a0ce86d1cb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "GET",
          "postData": {
            "mimeType": "application/json; charset=utf-8"
          },
          "queryString": [
            {
              "name": "action",
              "value": "query"
            },
     [...]
