{
  "log": {
    "_recordingName": "routes/fileinfo",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "1.4.2"
    },
    "entries": [
      {
        "_id": "795024689cf4ce441417efe2d977a7d1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "GET",
          "postData": {
            "mimeType": "application/json; charset=utf-8"
          },
          "queryString": [
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "iiprop",
              "value": "url|extmetadata|mediatype"
            },
            {
              "name": "iilimit",
              "value": "1"
            },
            {
              "name": "iiurlheight",
              "value": "300"
            },
            {
              "name": "titles",
              "value": "File:Helene_Fischer_2010.jpg"
            },
            {
              "name": "prop",
              "value": "imageinfo"
            }
          ],
          "url": "https://commons.wikimedia.org/w/api.php?action=query&format=json&iiprop=url%7Cextmetadata%7Cmediatype&iilimit=1&iiurlheight=300&titles=File%3AHelene_Fischer_2010.jpg&prop=imageinfo"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2218,
            "text": "{\"batchcomplete\":\"\",\"query\":{\"normalized\":[{\"from\":\"File:Helene_Fischer_2010.jpg\",\"to\":\"File:Helene Fischer 2010.jpg\"}],\"pages\":{\"15382769\":{\"pageid\":15382769,\"ns\":6,\"title\":\"File:Helene Fischer 2010.jpg\",\"imagerepository\":\"local\",\"imageinfo\":[{\"thumburl\":\"https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Helene_Fischer_2010.jpg/214px-Helene_Fischer_2010.jpg\",\"thumbwidth\":214,\"thumbheight\":300,\"url\":\"https://upload.wikimedia.org/wikipedia/commons/8/84/Helene_Fischer_2010.jpg\",\"descriptionurl\":\"https://commons.wikimedia.org/wiki/File:Helene_Fischer_2010.jpg\",\"descriptionshorturl\":\"https://commons.wikimedia.org/w/index.php?curid=15382769\",\"extmetadata\":{\"DateTime\":{\"value\":\"2011-06-02 22:16:54\",\"source\":\"mediawiki-metadata\",\"hidden\":\"\"},\"ObjectName\":{\"value\":\"Helene Fischer 2010\",\"source\":\"mediawiki-metadata\",\"hidden\":\"\"},\"CommonsMetadataExtension\":{\"value\":1.2,\"source\":\"extension\",\"hidden\":\"\"},\"Categories\":{\"value\":\"Helene Fischer|Self-published work\",\"source\":\"commons-categories\",\"hidden\":\"\"},\"Assessments\":{\"value\":\"\",\"source\":\"commons-categories\",\"hidden\":\"\"},\"ImageDescription\":{\"value\":\"Helene Fischer auf Tournee 2010\",\"source\":\"commons-desc-page\"},\"DateTimeOriginal\":{\"value\":\"2010-09-23\",\"source\":\"commons-desc-page\"},\"Credit\":{\"value\":\"<span class=\\\"int-own-work\\\" lang=\\\"en\\\">Own work</span>\",\"source\":\"commons-desc-page\",\"hidden\":\"\"},\"Artist\":{\"value\":\"<a href=\\\"//commons.wikimedia.org/w/index.php?title=User:Fleyx24&amp;action=edit&amp;redlink=1\\\" class=\\\"new\\\" title=\\\"User:Fleyx24 (page does not exist)\\\">Fleyx24</a>\",\"source\":\"commons-desc-page\"},\"LicenseShortName\":{\"value\":\"CC BY-SA 3.0\",\"source\":\"commons-desc-page\",\"hidden\":\"\"},\"UsageTerms\":{\"value\":\"Creative Commons Attribution-Share Alike 3.0\",\"source\":\"commons-desc-page\",\"hidden\":\"\"},\"AttributionRequired\":{\"value\":\"true\",\"source\":\"commons-desc-page\",\"hidden\":\"\"},\"LicenseUrl\":{\"value\":\"https://creativecommons.org/licenses/by-sa/3.0\",\"source\":\"commons-desc-page\",\"hidden\":\"\"},\"Copyrighted\":{\"value\":\"True\",\"source\":\"commons-desc-page\",\"hidden\":\"\"},\"Restrictions\":{\"value\":\"\",\"source\":\"commons-desc-page\",\"hidden\":\"\"},\"License\":{\"value\":\"cc-by-sa-3.0\",\"source\":\"commons-templates\",\"hidden\":\"\"}},\"mediatype\":\"BITMAP\"}]}}}}"
          },
            {
              "domain": ".wikimedia.org",
              "name": "GeoIP",
              "path": "/",
              "secure": true,
              "value": "DE:BE:Berlin:52.51:13.36:v4"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "content-disposition",
              "value": "inline; filename=api-result.json"
            },
            {
              "name": "backend-timing",
              "value": "D=38185 t=1548172739472007"
            },
            {
              "name": "x-analytics",
              "value": "ns=-1;special=Badtitle;https=1;nocookies=1"
            },
            {
              "name": "x-client-ip",
              "value": "178.19.219.12"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 284,
      },
      {
        "_id": "41ec3fe05bb2852450a012c3bdb02a9b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "GET",
          "postData": {
            "mimeType": "application/json; charset=utf-8"
          },
          "queryString": [
            {
              "name": "action",
              "value": "query"
            },
     [...]
