{
  "log": {
    "_recordingName": "services/files.getPageImages()",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "1.4.2"
    },
    "entries": [
      {
        "_id": "6ddb01d4efeac889a9bc10b7e6ee8813",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "GET",
          "postData": {
            "mimeType": "application/json; charset=utf-8"
          },
          "queryString": [
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "imlimit",
              "value": "500"
            },
            {
              "name": "titles",
              "value": "Königsberg_in_Bayern"
            },
            {
              "name": "prop",
              "value": "images"
            }
          ],
          "url": "https://de.wikipedia.org/w/api.php?action=query&format=json&imlimit=500&titles=K%C3%B6nigsberg_in_Bayern&prop=images"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1887,
            "text": "{\"batchcomplete\":\"\",\"query\":{\"normalized\":[{\"from\":\"K\\u00f6nigsberg_in_Bayern\",\"to\":\"K\\u00f6nigsberg in Bayern\"}],\"pages\":{\"21330\":{\"pageid\":21330,\"ns\":0,\"title\":\"K\\u00f6nigsberg in Bayern\",\"images\":[{\"ns\":6,\"title\":\"Datei:Baumeister-K\\u00f6nigsberg.JPG\"},{\"ns\":6,\"title\":\"Datei:Commons-logo.svg\"},{\"ns\":6,\"title\":\"Datei:DEU K\\u00f6nigsberg COA.svg\"},{\"ns\":6,\"title\":\"Datei:Germany adm location map.svg\"},{\"ns\":6,\"title\":\"Datei:Karte-HSC-Ex.png\"},{\"ns\":6,\"title\":\"Datei:Konigsberg Altstadt-1.jpg\"},{\"ns\":6,\"title\":\"Datei:Konigsberg Altstadt-2.jpg\"},{\"ns\":6,\"title\":\"Datei:K\\u00f6nigsberg Altershausen.jpg\"},{\"ns\":6,\"title\":\"Datei:K\\u00f6nigsb[...]
