{
  "log": {
    "_recordingName": "services/fileData.getFileData()",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "1.4.2"
    },
    "entries": [
      {
        "_id": "893ecd4e8a8bd012de5a0abcd83d99dc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "GET",
          "postData": {
            "mimeType": "application/json; charset=utf-8"
          },
          "queryString": [
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "iiprop",
              "value": "url|extmetadata|mediatype"
            },
            {
              "name": "iilimit",
              "value": "1"
            },
            {
              "name": "iiurlheight",
              "value": "300"
            },
            {
              "name": "titles",
              "value": "Königsberg_in_Bayern"
            },
            {
              "name": "prop",
              "value": "imageinfo"
            }
          ],
          "url": "https://de.wikipedia.org/w/api.php?action=query&format=json&iiprop=url%7Cextmetadata%7Cmediatype&iilimit=1&iiurlheight=300&titles=K%C3%B6nigsberg_in_Bayern&prop=imageinfo"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 193,
            "text": "{\"batchcomplete\":\"\",\"query\":{\"normalized\":[{\"from\":\"K\\u00f6nigsberg_in_Bayern\",\"to\":\"K\\u00f6nigsberg in Bayern\"}],\"pages\":{\"21330\":{\"pageid\":21330,\"ns\":0,\"title\":\"K\\u00f6nigsberg in Bayern\"}}}}"
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2019-02-23T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "22-Jan-2019"
            },
            {
              "domain": ".wikipedia.org",
              "name": "GeoIP",
              "path": "/",
              "secure": true,
              "value": "DE:BE:Berlin:52.51:13.36:v4"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "content-disposition",
              "value": "inline; filename=api-result.json"
            },
            {
              "name": "backend-timing",
              "value": "D=27336 t=1548164383564975"
            },
            {
              "name": "x-analytics",
              "value": "ns=-1;special=Badtitle;https=1;nocookies=1"
            },
            {
              "name": "x-client-ip",
              "value": "178.19.219.12"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 179,
      },
      {
        "_id": "795024689cf4ce441417efe2d977a7d1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "GET",
          "postData": {
            "mimeType": "application/json; charset=utf-8"
          },
          "queryString": [
            {
              "name": "action",
              "value": "query"
            },
     [...]
