{
  "log": {
    "_recordingName": "routes/attribution",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "1.4.2"
    },
    "entries": [
      {
        "_id": "15e1218d52b262d0c076ba166a5fabaf",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "GET",
          "postData": {
            "mimeType": "application/json; charset=utf-8"
          },
          "queryString": [
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "iiprop",
              "value": "url|extmetadata|mediatype"
            },
            {
              "name": "iilimit",
              "value": "1"
            },
            {
              "name": "iiurlheight",
              "value": "300"
            },
            {
              "name": "titles",
              "value": "File:Foobar.jpg"
            },
            {
              "name": "prop",
              "value": "imageinfo"
            }
          ],
          "url": "https://commons.wikimedia.org/w/api.php?action=query&format=json&iiprop=url%7Cextmetadata%7Cmediatype&iilimit=1&iiurlheight=300&titles=File%3AFoobar.jpg&prop=imageinfo"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1946,
            "text": "{\"batchcomplete\":\"\",\"query\":{\"pages\":{\"15705443\":{\"pageid\":15705443,\"ns\":6,\"title\":\"File:Foobar.jpg\",\"imagerepository\":\"local\",\"imageinfo\":[{\"thumburl\":\"https://upload.wikimedia.org/wikipedia/commons/3/3a/Foobar.jpg\",\"thumbwidth\":240,\"thumbheight\":28,\"url\":\"https://upload.wikimedia.org/wikipedia/commons/3/3a/Foobar.jpg\",\"descriptionurl\":\"https://commons.wikimedia.org/wiki/File:Foobar.jpg\",\"descriptionshorturl\":\"https://commons.wikimedia.org/w/index.php?curid=15705443\",\"extmetadata\":{\"DateTime\":{\"value\":\"2011-07-04 23:31:14\",\"source\":\"mediawiki-metadata\",\"hidden\":\"\"},\"ObjectName\":{\"value\":\"Foobar\",\"source\":\"mediawiki-metadata\",\"hidden\":\"\"},\"CommonsMetadataExtension\":{\"value\":1.2,\"source\":\"extension\",\"hidden\":\"\"},\"Categories\":{\"value\":\"CC-Zero|Self-published work|User page images\",\"source\":\"commons-categories\",\"hidden\":\"\"},\"Assessments\":{\"value\":\"\",\"source\":\"commons-categories\",\"hidden\":\"\"},\"ImageDescription\":{\"value\":\"Image for parser testing.\",\"source\":\"commons-desc-page\"},\"DateTimeOriginal\":{\"value\":\"2011-07-04\",\"source\":\"commons-desc-page\"},\"Credit\":{\"value\":\"<span class=\\\"int-own-work\\\" lang=\\\"en\\\">Own work</span>\",\"source\":\"commons-desc-page\",\"hidden\":\"\"},\"Artist\":{\"value\":\"<a href=\\\"//commons.wikimedia.org/wiki/User:Kaldari\\\" title=\\\"User:Kaldari\\\">Kaldari</a>\",\"source\":\"commons-desc-page\"},\"LicenseShortName\":{\"value\":\"CC0\",\"source\":\"commons-desc-page\",\"hidden\":\"\"},\"UsageTerms\":{\"value\":\"Creative Commons Zero, Public Domain Dedication\",\"source\":\"commons-desc-page\",\"hidden\":\"\"},\"AttributionRequired\":{\"value\":\"false\",\"source\":\"commons-desc-page\",\"hidden\":\"\"},\"LicenseUrl\":{\"value\":\"http://creativecommons.org/publicdomain/zero/1.0/deed.en\",\"source\":\"commons-desc-page\",\"hidden\":\"\"},\"Copyrighted\":{\"value\":\"True\",\"source\":\"commons-desc-page\",\"hidden\":\"\"},\"Restrictions\":{\"value\":\"\",\"source\":\"commons-desc-page\",\"hidden\":\"\"},\"License\":{\"value\":\"cc0\",\"source\":\"commons-templates\",\"hidden\":\"\"}},\"mediatype\":\"BITMAP\"}]}}}}"
          },
            {
              "domain": ".wikimedia.org",
              "name": "GeoIP",
              "path": "/",
              "secure": true,
              "value": "DE:BE:Berlin:52.51:13.36:v4"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "content-disposition",
              "value": "inline; filename=api-result.json"
            },
            {
              "name": "backend-timing",
              "value": "D=34426 t=1548162578605167"
            },
            {
              "name": "x-analytics",
              "value": "ns=-1;special=Badtitle;https=1;nocookies=1"
            },
            {
              "name": "x-client-ip",
              "value": "178.19.219.12"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 218,
      },
      {
        "_id": "58bdb651f677c30d407d5837d37e6f63",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "GET",
          "postData": {
            "mimeType": "application/json; charset=utf-8"
          },
          "queryString": [
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "tlnamespace",
              "value": "10"
            },
            {
              "name": "tllimit",
              "value": "500"
            },
            {
              "name": "titles",
              "value": "File:Foobar.jpg"
            },
            {
              "name": "prop",
              "value": "templates"
            }
          ],
          "url": "https://commons.wikimedia.org/w/api.php?action=query&format=json&tlnamespace=10&tllimit=500&titles=File%3AFoobar.jpg&prop=templates"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1145,
            "text": "{\"batchcomplete\":\"\",\"query\":{\"pages\":{\"15705443\":{\"pageid\":15705443,\"ns\":6,\"title\":\"File:Foobar.jpg\",\"templates\":[{\"ns\":10,\"title\":\"Template:Autotranslate\"},{\"ns\":10,\"title\":\"Template:CC-Layout\"},{\"ns\":10,\"title\":\"Template:Cc-zero\"},{\"ns\":10,\"title\":\"Template:Description\"},{\"ns\":10,\"title\":\"Template:Dir\"},{\"ns\":10,\"title\":\"Template:Edit\"},{\"ns\":10,\"title\":\"Template:En\"},{\"ns\":10,\"title\":\"Template:Fr\"},{\"ns\":10,\"title\":\"Template:ISOdate\"},{\"ns\":10,\"title\":\"Template:ISOyear\"},{\"ns\":10,\"title\":\"Template:IfNum\"},{\"ns\":10,\"title\":\"Template:I[...]
